<a href="https://colab.research.google.com/github/mobkimark/Hamoye/blob/main/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [9]:
data.describe(include="all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [10]:
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [11]:
data.shape

(60943, 12)

In [17]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [23]:
data.corr()

<ipython-input-23-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [27]:
group= data.groupby('Area')['Y2017'].sum().reset_index()

In [28]:
print(group)

                           Area       Y2017
0                       Algeria   325644.27
1                        Angola   229159.57
2                         Benin   124771.22
3                      Botswana    22101.30
4                  Burkina Faso   101855.07
5                    Cabo Verde    14650.74
6                      Cameroon   232030.43
7      Central African Republic    29937.00
8                          Chad    71594.68
9                       Comoros       59.84
10                        Congo    41181.68
11                Côte d'Ivoire   224599.01
12                     Djibouti    22729.91
13                        Egypt   866379.92
14                     Eswatini    54343.33
15                     Ethiopia   448683.76
16                 Ethiopia PDR        0.00
17                        Gabon    27979.64
18                       Gambia    23154.18
19                        Ghana   337599.06
20                       Guinea    98138.87
21                Guinea-Bissau    19102.77
22                        Kenya   264660.66
23                      Lesotho    21267.96
24                      Liberia    29342.20
25                   Madagascar   131197.73
26                       Malawi   181098.71
27                         Mali   149928.33
28                   Mauritania   156665.46
29                    Mauritius    51114.83
30                      Morocco   388495.36
31                   Mozambique   161407.98
32                      Namibia    29874.89
33                        Niger   126707.58
34                      Nigeria  1483268.23
35                       Rwanda    73663.69
36        Sao Tome and Principe    12662.63
37                      Senegal    95681.15
38                   Seychelles      442.34
39                 Sierra Leone    55311.33
40                 South Africa   517590.54
41                        Sudan   239931.92
42               Sudan (former)        0.00
43                         Togo    49841.88
44                      Tunisia   124167.20
45                       Uganda   213950.38
46  United Republic of Tanzania   322616.85
47                       Zambia   103223.77
48                     Zimbabwe    75919.34

In [33]:
maxnumber = group['Y2017'].max()
print(maxnumber)

1483268.23

In [42]:
group1= data.groupby('Element')['Y2017'].sum().reset_index()
print(group1)

                                   Element       Y2017
0                 Domestic supply quantity  2088198.10
1                          Export Quantity   182338.80
2       Fat supply quantity (g/capita/day)    10253.84
3                                     Feed   223705.68
4                                     Food  1258888.28
5            Food supply (kcal/capita/day)   454681.00
6      Food supply quantity (kg/capita/yr)    48690.04
7                          Import Quantity   294559.09
8                                   Losses   160614.00
9                    Other uses (non-food)    91645.97
10                              Processing   292836.00
11                              Production  2030056.89
12  Protein supply quantity (g/capita/day)    11842.45
13                               Residuals    35500.00
14                                    Seed    24870.14
15                         Stock Variation    54316.91
16           Total Population - Both sexes  1112641.00
17                     Tourist consumption       91.00

In [43]:
data.shape

(60943, 12)

In [45]:
Mean_2017= data['Y2017'].mean()
SD_2017 = data ['Y2017']. std()
print(Mean_2017)
print(SD_2017)

140.9177648602722
1671.8623590567995

In [47]:
group2= data.groupby('Item')['Y2015'].sum().reset_index()
print(group2)

                    Item      Y2015
0      Alcohol, Non-Food    2180.00
1    Alcoholic Beverages   98783.72
2        Animal Products   11811.73
3            Animal fats  200675.72
4    Apples and products   10559.15
..                   ...        ...
114    Vegetables, Other  158104.08
115     Vegetal Products  107064.17
116   Wheat and products  234710.51
117                 Wine    4251.81
118                 Yams  203151.78

[119 rows x 2 columns]

In [53]:
group3= data.groupby('Element')['Y2014'].sum().reset_index()
group4= data.groupby('Element')['Y2015'].sum().reset_index()
group5= data.groupby('Element')['Y2016'].sum().reset_index()
group6= data.groupby('Element')['Y2017'].sum().reset_index()
group7= data.groupby('Element')['Y2018'].sum().reset_index()
print(group3)
print(group4)
print(group5)
print(group6)
print(group7)

                                   Element       Y2014
0                 Domestic supply quantity  1996716.35
1                          Export Quantity   150020.64
2       Fat supply quantity (g/capita/day)    10225.56
3                                     Feed   216927.89
4                                     Food  1212332.49
5            Food supply (kcal/capita/day)   454257.00
6      Food supply quantity (kg/capita/yr)    49650.63
7                          Import Quantity   274144.48
8                                   Losses   153223.00
9                    Other uses (non-food)    78718.13
10                              Processing   282923.00
11                              Production  1931287.75
12  Protein supply quantity (g/capita/day)    11836.46
13                               Residuals    30149.00
14                                    Seed    21922.92
15                         Stock Variation    58749.83
16           Total Population - Both sexes  1031585.00
17                     Tourist consumption      416.00
                                   Element       Y2015
0                 Domestic supply quantity  2021493.55
1                          Export Quantity   157614.47
2       Fat supply quantity (g/capita/day)    10235.74
3                                     Feed   225050.22
4                                     Food  1232361.10
5            Food supply (kcal/capita/day)   453383.00
6      Food supply quantity (kg/capita/yr)    49345.13
7                          Import Quantity   267018.46
8                                   Losses   155439.00
9                    Other uses (non-food)    66254.41
10                              Processing   287929.00
11                              Production  1947019.39
12  Protein supply quantity (g/capita/day)    11833.95
13                               Residuals    30045.00
14                                    Seed    23976.82
15                         Stock Variation    34910.99
16           Total Population - Both sexes  1058081.00
17                     Tourist consumption      349.00
                                   Element       Y2016
0                 Domestic supply quantity  2044842.70
1                          Export Quantity   151920.46
2       Fat supply quantity (g/capita/day)    10102.77
3                                     Feed   228958.65
4                                     Food  1247022.17
5            Food supply (kcal/capita/day)   451810.00
6      Food supply quantity (kg/capita/yr)    48985.28
7                          Import Quantity   286582.78
8                                   Losses   157787.00
9                    Other uses (non-food)    69563.68
10                              Processing   280631.00
11                              Production  1943537.15
12  Protein supply quantity (g/capita/day)    11779.69
13                               Residuals    37224.00
14                                    Seed    23389.20
15                         Stock Variation    33140.12
16           Total Population - Both sexes  1085107.00
17                     Tourist consumption       89.00
                                   Element       Y2017
0                 Domestic supply quantity  2088198.10
1                          Export Quantity   182338.80
2       Fat supply quantity (g/capita/day)    10253.84
3                                     Feed   223705.68
4                                     Food  1258888.28
5            Food supply (kcal/capita/day)   454681.00
6      Food supply quantity (kg/capita/yr)    48690.04
7                          Import Quantity   294559.09
8                                   Losses   160614.00
9                    Other uses (non-food)    91645.97
10                              Processing   292836.00
11                              Production  2030056.89
12  Protein supply quantity (g/capita/day)    11842.45
13                               Residuals    35500.00
14                                    Seed    24870.14
15                         Stock Variation    54316.91
16           Total Population - Both sexes  1112641.00
17                     Tourist consumption       91.00
                                   Element       Y2018
0                 Domestic supply quantity  2161192.10
1                          Export Quantity   181594.80
2       Fat supply quantity (g/capita/day)    10258.69
3                                     Feed   233489.68
4                                     Food  1303841.28
5            Food supply (kcal/capita/day)   455261.00
6      Food supply quantity (kg/capita/yr)    49056.85
7                          Import Quantity   287997.09
8                                   Losses   163902.00
9                    Other uses (non-food)    91300.97
10                              Processing   308429.00
11                              Production  2075072.89
12  Protein supply quantity (g/capita/day)    11833.56
13                               Residuals    34864.00
14                                    Seed    25263.14
15                         Stock Variation    20577.91
16           Total Population - Both sexes  1140605.00
17                     Tourist consumption       90.00

In [58]:
S = [['him','sell'],[90,28,43]]
S[0][1][1]

'e'